*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

/* Header Styles */
header {
    background-color: #60dd1d;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background:
    radial-gradient(circle at top left, rgba(0, 0, 0, 0.38), transparent 42%),
    linear-gradient(135deg, #1f5c32, #60dd1d);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;  
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#Inicio {
    text-align: center;
    background-color: #60dd1d;
    padding: 50px 20px;
    background:
    radial-gradient(circle at top left, rgba(0, 0, 0, 0.38), transparent 42%),
    linear-gradient(135deg, #1f5c32, #60dd1d); 
}

#Inicio h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

#Inicio p {
    color: #fff;
    font-size: 1.26em;
}

#Inicio button {
    background-color: #9ee33c;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 26px;
    margin-top: 22px;
    cursor: pointer;
}

#Inicio button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #60dd1d;
    transition: transform 0.5s, box-shadow 0.5s ease, background-color 0.5s; 
}

#Acerca_de_mí {
    display: grid;
    grid-template-columns: 230px 1fr;
    column-gap: 45px;
    align-items: center;
    background-color: white;
    padding: 70px 50px;
    margin-bottom: 30px;
}

#Acerca_de_mí h3 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
}

#Acerca_de_mí p {
    grid-column: 2;
    grid-row: 2;
    line-height: 1.8;
    color: #555;
}

#Acerca_de_mí img {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}

#Mis_habilidades {
    padding: 30px 40px;
    margin-bottom: 30px;
}

#Mis_habilidades h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
}

#Mis_habilidades .habilidad {  
    justify-content: space-around;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px;
    transition: 0.3s;
}

#Mis_habilidades .habilidad:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#Mis_habilidades .habilidad p {
    display: inline-block;
    margin-right: 200px;
    margin: 0 auto 20px;
}

#Mis_habilidades .habilidad p:last-child {
    margin-left: auto;
}

#Mis_habilidades .barra {
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 12px;
}

#progreso_html,
#progreso_css,
#progreso_javascript,
#progreso_python,
#progreso_git,
#progreso_deploy {
  height: 100%;
  background: #23a525;
  border-radius: 20px;
}

#progreso_html {
  width: 87%;
}

#progreso_css {
  width: 60%;
}

#progreso_javascript {
  width: 45%;
}

#progreso_python {
  width: 23%;
}

#progreso_git {
  width: 75%;
}

#progreso_deploy {
  width: 15%;
}

#Mis_proyectos {
    grid-template-columns: 230px 1fr;
    column-gap: 45px;
    align-items: center;
    background-color: white;
    padding: 70px 50px;
    margin-bottom: 30px;
    border-radius: 30px;
}

#Mis_proyectos h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 35px;
}

#Mis_proyectos .proyecto {
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: 0.3s;
    width: 300px;
    min-height: 260px;
    padding: 35px;
    box-sizing: border-box;

}

#Mis_proyectos .proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

