*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

/* Header Styles */
header {
    background-color: #60dd1d;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;  
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#Inicio {
    text-align: center;
    background-color: #60dd1d;
    border: 2px solid #60dd1d;
    padding: 50px 20px; 
}

#Inicio h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

#Inicio p {
    color: #fff;
    
}